# Database URL for PostgreSQL
DATABASE_URL=
# Better Auth configuration
BETTER_AUTH_URL=
BETTER_AUTH_SECRET=
BETTER_AUTH_API_KEY=


#Google 
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=


#Github
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=


#Finnhub
MARKET_DATA_API_KEY=
MARKET_DATA_PROVIDER=finnhub